.body {
  background-color: #f2f2eb;
  margin: 40px 100px 40px 70px;
  padding: 10px;
  display: flex;
}

@media (max-width: 1024px) {

}

@media (max-width: 900px) {

}

@media (max-width: 735px) {
  .body {
    background-color: #f2f2eb;
    margin: 5px 10px 20px 5px;
    padding: 5px;
    display: block;
  }
}