.header {
  background-color: #ff6100;
  text-align: center;
  height: 70px;
}

.header-container {
  display: flex;
  height: 100%;
  margin: 17px 140px;
}

.header-img {
  height: 45px;
  max-width: 100%;
}

/* @media (max-width: 1024px) {

}

@media (max-width: 900px) {

} */

@media (max-width: 735px) {
  .header {
    height: 50px;
  }
  
  .header-container {
    margin: 8px 50px;
  }
  
  .header-img {
    height: 40px;
    max-width: 100%;
  }
}