.inputs-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px 120px 30px 100px;
}

.Logo-icon{
  width: 0px;
  height: 0px;
  margin: 0px;
}

.input-card {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-icon, .WIFI_ICON, .input-icon-text {
  width: 70px;
  height: 70px;
  margin: 10px 0px 10px 60px;
  cursor: pointer;
}

.input-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.input-url-box,
.input-text-box {
  border: 0;
  border-radius: 20px;
  margin: 0;
  padding: 15px;
  width: 550px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-url-box {
  height: 50px;
}

.input-text-box {
  height: 300px;
  resize: vertical;
}

.generate-button {
  width: 230px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
  object-fit: contain;
}

.custom-label {
  font-family: CascadiaCodeRoman-Bold, 'Cascadia Code';
  font-variation-settings: 'wght' 700;
  font-weight: 700;
  margin: 10px 0;
  color: #7f7f7f;
  font-size: 20px;
}

.custom-label span {
  color: rgb(24, 189, 24);
}

@media (max-width: 1024px) {
  .inputs-box {
    padding: 20px 40px 20px 40px;
    width: 520px;
  }

  .input-card {
    flex-direction: column;
    gap: 15px;
  }

  .input-icon, .WIFI_ICON, .input-icon-text {
    width: 50px;
    height: 50px;
    margin: 10px 0px 10px 40px;
  }

  .input-url-box,
  .input-text-box {
    width: 100%;
  }

  .generate-button {
    width: 100%;
  }
  .input-text-box {
    height: 300px;
    width: 380px;
    resize: vertical;
  }
}

@media (max-width: 900px) {
  .inputs-box {
    padding: 10px;
  }

  .input-card {
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
  }

  .input-url-box,
  .input-text-box {
    width: 100%;
  }

  .generate-button {
    width: 100%;
    height: 35px;
  }

  .input-text-box {
    height: 300px;
    width: 380px;
    resize: vertical;
  }
}

@media (max-width: 735px) {
  .inputs-box {
    width: 380px;
    padding: 0px 10px 0;
  }

  .input-card {
    flex-direction: column;
    gap: 15px;
  }

  .input-icon, .WIFI_ICON, .input-icon-text {
    width: 40px;
    height: 40px;
    margin: 1px 15px 1px 15px;
  }

  .input-url-box {
    width: 360px;
    padding: 10px;
  }

  .input-text-box{
    width: 360px;
    height: 180px;
    padding: 10px;
  }
  .input-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
  }
  .generate-button {
    width: 100%;
    height: 30px;
    margin-top: 0px;
  }

  .custom-label {
    margin: 0px 20px;
  }

  .text-counter{
    font-size: 10px;
  }

  .Logo-icon{
    width: 50px;
    height: 50px;
  }
  .icons-box{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
  }
  
}

@media (max-width: 400px) {
  
}