@charset "utf-8";
	.st0
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
}
.image25
{
	background-image : url(image25.png);
	background-repeat : no-repeat;
}
.image26
{
	background-image : url(image26.png);
	background-repeat : no-repeat;
}
.st1
{
	background : #FFFFF5;
	background : rgba(255, 255, 245, 1);
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.st2
{
	background : #FF2E2E;
	background : rgba(255, 46, 46, 1);
	
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.st3
{
	background : #4D96FF;
	background : rgba(77, 150, 255, 1);
}
.st4
{
	background : #02A43D;
	background : rgba(2, 164, 61, 1);
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
.image6
{
	background-image : url(image6.png);
	background-repeat : no-repeat;
}
.st5
{
	background : #FF6100;
	background : rgba(255, 97, 0, 1);
}
.image7
{
	background-image : url(image7.png);
	background-repeat : no-repeat;
}
.st6
{
	background : #FF6100;
	background : rgba(255, 97, 0, 1);
}
.image8
{
	background-image : url(image8.png);
	background-repeat : no-repeat;
}
.image9
{
	background-image : url(image9.png);
	background-repeat : no-repeat;
}
.image10
{
	background-image : url(image10.png);
	background-repeat : no-repeat;
}
.image11
{
	background-image : url(image11.png);
	background-repeat : no-repeat;
}
.image12
{
	background-image : url(image12.png);
	background-repeat : no-repeat;
}
.image13
{
	background-image : url(image13.png);
	background-repeat : no-repeat;
}
.st7
{
	background : #F2F2EB;
	background : rgba(242, 242, 235, 1);
}
.st8
{
	background : #FFFFF5;
	background : rgba(255, 255, 245, 1);
}
.image15
{
	background-image : url(image15.png);
	background-repeat : no-repeat;
}
.image19
{
	background-image : url(image19.png);
	background-repeat : no-repeat;
}
.image16
{
	background-image : url(image16.png);
	background-repeat : no-repeat;
}
.image17
{
	background-image : url(image17.png);
	background-repeat : no-repeat;
}
.image18
{
	background-image : url(image18.png);
	background-repeat : no-repeat;
}
.image14
{
	background-image : url(image14.png);
	background-repeat : no-repeat;
}
.st9
{
	background : #FF6100;
	background : rgba(255, 97, 0, 1);
}
.st10
{
	background : #FF6100;
	background : rgba(255, 97, 0, 1);
}
.image20
{
	background-image : url(image20.png);
	background-repeat : no-repeat;
}
.image21
{
	background-image : url(image21.png);
	background-repeat : no-repeat;
}
.image24
{
	background-image : url(image24.png);
	background-repeat : no-repeat;
}
.image23
{
	background-image : url(image23.png);
	background-repeat : no-repeat;
}
.image22
{
	background-image : url(image22.png);
	background-repeat : no-repeat;
}
.Estilodecaracterenormal
{
	font-family : MADE Okine Sans PERSONAL USE;
	font-size : 15px;
	color : #7F7F7F;
	color : rgb(127, 127, 127);
}
.Estilodecaracterenormal1
{
	font-family : Cascadia Code;
	font-weight : bold;
	font-size : 18px;
	color : #7F7F7F;
	color : rgb(127, 127, 127);
}
.Estilodecaracterenormal2
{
	font-family : Bahnschrift;
	font-size : 16px;
	color : #7A7A7A;
	color : rgb(122, 122, 122);
}
.Estilodecaracterenormal3
{
	font-family : Cascadia Code;
	font-weight : bold;
	font-size : 22px;
	color : #7F7F7F;
	color : rgb(127, 127, 127);
}
.Estilodecaracterenormal4
{
	font-family : Cascadia Code;
	font-weight : bold;
	font-size : 22px;
	color : #7F7F7F;
	color : rgb(127, 127, 127);
}
